

h1 {

    font-weight: 800 !important;
}

button {
    background-color: blue !important;
    color: white !important;
    border: solid 2px black !important;
    transition: all 1s;
}

button:hover {
    background-color: green !important;
}

